.boxWrapper{
    display: grid;
    grid-template-columns: 200px auto;
    gap:20px;
}

.box{}

.boxContent {
    min-width: 320px;
    padding-top: var(--spacing);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--spacing);

    @media (max-width: 1440px) {
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }

    @media (max-width: 920px) {
        grid-template-columns: repeat(1, minmax(0, 4fr));
    }

    @media (max-width: 650px) {
        grid-template-columns: repeat(1, minmax(0, 4fr));
    }
}

.boxItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--radius);
    border: 3px solid var(--accent);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
}

.boxItem img {
    @media (max-width: 650px) {
        width: 170px;
        height: 100%;
    }

}

.boxContent button {
    @media (max-width: 650px) {
        width: 130px;
        height: 100%;
        padding: 5px 20px;
    }
}


.boxInfo {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
    align-items: center;
}

.boxInfo p {
    font-size: 32px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--main);

    @media (max-width: 650px) {
        font-size: 24px;
    }
}

.boxPrice {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxInfo h3 {
    @media (max-width: 650px) {
        font-size: 28px;
    }
}