.homescreen {
    /* background-image: url('../../assets/img/sharik.png');
    background-image: url('../../assets/img/lenta.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #A01616;
    background-position: center;
    position: relative;
}
.overlay {
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    opacity: 0.8;
    margin: 0;
}

.title {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    color: #CCB75E;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.description {
    font-size: 24px;
    color: #d1d5db;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonMain{
    color: #CCB75E;
    margin: 0 auto;
    background-color: #01553B;
    padding: 15px;
    display: block;
    width: 175px;
    font-family: "Lobster", sans-serif;
    font-size: 24px;
    margin-top: 10px;
    border-radius: 0px 35px 0px 35px;
}
