@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
  --white: #ffffff;
  --white-light: #F7F9FB;
  --black: #000000;
  --gray: #9F9F9F;
  --gray-hover: #717171;
  --accent: #0769E0;
  --accent-hover: #073c7e;

  --spacing: 20px;
  --distance: 40px;

  --radius: 20px;

  --transition: all .5s ease-in-out;

  /* Размер фиксированной шапки */
  --header: 84px;
  /* Размер фиксированной шапки */
}
@media (max-width: 500px) {
  :root {
    --spacing: 15px;
    --distance: 20px;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--accent);
}

::selection {
  background: var(--accent);/* Safari */
}
::-moz-selection {
  background: var(--accent); /* Firefox */
}

@media (max-width: 768px) {
  ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb  {
    display: none;
  }
}

html,
body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  background: var(--white);
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  color: var(--black);
  font-style: normal;
  font-size: 20px;
}