.cartContent {
    margin-top: var(--spacing);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--distance);
}

.cartProducts {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
    border-radius: var(--radius);
    border: 1px solid var(--accent);
    padding: 20px;
}

.cartImage {
    width: 150px;
    height: 100%;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
}
.cartContent h2 {
    margin: 0;
}

.cartButton {
    border: none;
    background: none;
    cursor: pointer;
}

.cartOrder {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
}

.cartOrderInfo {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
}