.authForm {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
}

.authForm h2, .authButtonSwap {
    margin: 0;
    text-align: center;
}

.authItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.authForm input {
    width: 100%;
    padding: 10px;
    font-size: 16px; 
    border: 2px solid #ddd;
    box-sizing: border-box; 
    background-color: #f9f9f9; 
    transition: var(--transition);
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    border-radius: var(--radius);
}

.authForm input:focus {
    border-color: #BF8845; 
    outline: none;
    background-color: #fff; 
}

.authButtonSwap button {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--accent);
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}

@media (max-width: 600px) {
    .authContent {
        grid-template-columns: 1fr;
    }
}
